In [1]:
import pandas as pd; import numpy as np; import janitor as jn

In [2]:
pd.__version__

'2.2.1'

In [3]:
df1 = pd.DataFrame({'id': [1,1,1,2,2,3], 'value_1': [2,5,7,1,3,4]})
df2 = pd.DataFrame({'id': [1,1,1,1,2,2,2,3], 'value_2A': [0,3,7,12,0,2,3,1], 'value_2B': [1,5,9,15,pd.NA,4,6,3]})
df2 = df2.astype({'value_2B':'Int32'})

In [4]:
df1

   id  value_1
0   1        2
1   1        5
2   1        7
3   2        1
4   2        3
5   3        4

In [5]:
a,b=df1.conditional_join(df2, ('value_1','value_2A','>'),use_numba=True)
a,b

ValueError: too many values to unpack (expected 2)

In [ ]:
a is None

False

In [ ]:
b is None

False

In [ ]:
(a is None) and (b is None)

False

In [ ]:
events = pd.read_csv('/Users/samuel.oranyeli/Downloads/results.csv', parse_dates=['start','end']).iloc[:, 1:]

In [ ]:
import numba

In [ ]:
dir(numba.types)

['ABCMeta',
 'Any',
 'Array',
 'ArrayCTypes',
 'ArrayCompatible',
 'ArrayFlags',
 'ArrayIterator',
 'BaseAnonymousTuple',
 'BaseContainerIterator',
 'BaseContainerPayload',
 'BaseFunction',
 'BaseNamedTuple',
 'BaseTuple',
 'Boolean',
 'BooleanLiteral',
 'BoundFunction',
 'Buffer',
 'ByteArray',
 'Bytes',
 'CPointer',
 'Callable',
 'CharSeq',
 'ClassDataType',
 'ClassInstanceType',
 'ClassType',
 'CompileResultWAP',
 'Complex',
 'ConstSized',
 'Container',
 'ContextManager',
 'Conversion',
 'DType',
 'DTypeSpec',
 'DeferredType',
 'DictItemsIterableType',
 'DictIteratorType',
 'DictKeysIterableType',
 'DictType',
 'DictValuesIterableType',
 'Dispatcher',
 'Dummy',
 'EllipsisType',
 'EnumClass',
 'EnumMember',
 'EnumerateType',
 'EphemeralArray',
 'EphemeralPointer',
 'ExceptionClass',
 'ExceptionInstance',
 'ExternalFunction',
 'ExternalFunctionPointer',
 'Float',
 'Function',
 'FunctionPrototype',
 'FunctionType',
 'Generator',
 'Hashable',
 'InitialValue',
 'IntEnumClass',
 'IntEnumMember',
 'Integer',
 'IntegerLiteral',
 'Iterable',
 'IterableType',
 'IteratorType',
 'List',
 'ListIter',
 'ListPayload',
 'ListType',
 'ListTypeIterableType',
 'ListTypeIteratorType',
 'Literal',
 'LiteralList',
 'LiteralStrKeyDict',
 'LiteralTypingError',
 'MakeFunctionLiteral',
 'MappingProxyType',
 'MemInfoPointer',
 'MemoryView',
 'Module',
 'MutableSequence',
 'NPDatetime',
 'NPTimedelta',
 'NamedTuple',
 'NamedTupleClass',
 'NamedUniTuple',
 'NestedArray',
 'NoneType',
 'NumPyRandomBitGeneratorType',
 'NumPyRandomGeneratorType',
 'Number',
 'NumberClass',
 'NumpyFlatType',
 'NumpyNdEnumerateType',
 'NumpyNdIndexType',
 'NumpyNdIterType',
 'ObjModeDispatcher',
 'Object',
 'Omitted',
 'Opaque',
 'Optional',
 'Pair',
 'Phantom',
 'Poison',
 'PyArray',
 'PyObject',
 'RangeIteratorType',
 'RangeType',
 'RawPointer',
 'Record',
 'RecursiveCall',
 'Sequence',
 'Set',
 'SetEntry',
 'SetIter',
 'SetPayload',
 'SimpleIterableType',
 'SimpleIteratorType',
 'Sized',
 'SliceLiteral',
 'SliceType',
 'StarArgTuple',
 'StarArgUniTuple',
 'StringLiteral',
 'StructRef',
 'StructRefPayload',
 'Tuple',
 'Type',
 'TypeRef',
 'TypingError',
 'Undefined',
 'UndefinedFunctionType',
 'UndefinedType',
 'UniTuple',
 'UniTupleIter',
 'UnicodeCharSeq',
 'UnicodeIteratorType',
 'UnicodeType',
 'UnionType',
 'VarArg',
 'WeakType',
 'WrapperAddressProtocol',
 'ZipType',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_make_signed',
 '_make_unsigned',
 'abstract',
 'abstractmethod',
 'abstractproperty',
 'argsnkwargs_to_str',
 'b1',
 'bool_',
 'boolean',
 'byte',
 'c16',
 'c8',
 'cached_property',
 'char',
 'code_type',
 'collections',
 'common',
 'complex128',
 'complex64',
 'complex_domain',
 'config',
 'containers',
 'defaultdict',
 'deferred_type',
 'double',
 'ellipsis',
 'enum',
 'errors',
 'f2',
 'f4',
 'f8',
 'ffi',
 'ffi_forced_object',
 'float16',
 'float32',
 'float64',
 'float_',
 'function_type',
 'functions',
 'get_hashable_key',
 'get_terminal_size',
 'i1',
 'i2',
 'i4',
 'i8',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'intc',
 'integer_domain',
 'intp',
 'ir',
 'is_homogeneous',
 'iterators',
 'itertools',
 'literal',
 'logging',
 'long_',
 'longlong',
 'maybe_literal',
 'misc',
 'namedtuple',
 'none',
 'np',
 'npdatetime_helpers',
 'npy_bitgen',
 'npy_rng',
 'npytypes',
 'number_domain',
 'optional',
 'parse_integer_bitwidth',
 'parse_integer_signed',
 'ptDict',
 'ptType',
 'py2_string_type',
 'pySequence',
 'pyfunc_type',
 'pyobject',
 'range_iter32_type',
 'range_iter64_type',
 'range_state32_type',
 'range_state64_type',
 'real_domain',
 'scalars',
 'short',
 'signed_domain',
 'size_t',
 'slice2_type',
 'slice3_type',
 'ssize_t',
 'string',
 'struct',
 'textwrap',
 'total_ordering',
 'traceback',
 'types',
 'u1',
 'u2',
 'u4',
 'u8',
 'uchar',
 'uint',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulong',
 'ulonglong',
 'undefined',
 'unicode_type',
 'unknown',
 'unliteral',
 'unsigned_domain',
 'unsigned_range_iter64_type',
 'unsigned_range_state64_type',
 'ushort',
 'utils',
 'void',
 'voidptr',
 'warnings',
 'weakref']

In [ ]:
events.dtypes

id                   int64
name                object
audience             int64
start       datetime64[ns]
sponsor             object
end         datetime64[ns]
dtype: object

In [ ]:
a = (events
.conditional_join(
    events,
    ('start', 'end', '<='),
    ('end', 'start', '>='),
    # ('id', 'id', '!='),
    # ('audience','audience','>'),
    use_numba = True,
    df_columns = ['id', 'start', 'end'],
    right_columns = ['id', 'start', 'end'])
)

a

(['id', 'start', 'end'], ['id', 'start', 'end'])

In [ ]:
%%timeit
(events
.conditional_join(
    events,
    ('start', 'end', '<='),
    ('end', 'start', '>='),
    # ('id', 'id', '!='),
    # ('audience','audience','>'),
    use_numba = True,
    df_columns = ['id', 'start', 'end'],
    right_columns = ['id', 'start', 'end'])
)

31.2 µs ± 102 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [ ]:
%%timeit
(events
.conditional_join(
    events,
    ('start', 'end', '<='),
    ('end', 'start', '>='),
    # ('id', 'id', '!='),
    # ('audience','audience','>'),
    use_numba = False,
    df_columns = ['id', 'start', 'end'],
    right_columns = ['id', 'start', 'end'])
)

32.6 µs ± 2.33 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [ ]:
(events
.conditional_join(
    events,
    ('start', 'end', '<='),
    ('end', 'start', '>='),
    ('id', 'id', '!='),
    # ('audience','audience','>'),
    use_numba = False,
    df_columns = ['id', 'start', 'end'],
    right_columns = ['id', 'start', 'end'])
)

(['id', 'start', 'end'], ['id', 'start', 'end'])

In [ ]:
# # %%timeit
# (events
# .conditional_join(
#     events,
#     ('start', 'end', '>='),
#     ('end', 'start', '<='),
#     ('id', 'id', '!='),
#     # ('audience','audience','>'),
#     use_numba = True,
#     df_columns = ['id', 'start', 'end'],
#     right_columns = ['id', 'start', 'end'])
# )

In [6]:
C=dict(key=[f"c{num}" for num in range(1,8)],
       vol=[35,15,5,35,18,90,17],
       profit=[45,35,55,12,15,55,11],
       unitsSold=[15,10,30,10,15,80,2],
       keyy = range(1,8)
       )
C=pd.DataFrame(C)


D=dict(key=[f'd{num}' for num in range(1,9)],
       vol=[20,50,15,16,40,20,40,2],
       profit=[30,10,12,52,35,20,30,57],
       unitsSold=[20,35,10,12,40,30,5,15],
       keyy=range(8,0,-1)
       )
D=pd.DataFrame(D)

In [ ]:
# C = pd.concat([C]*40*40)
# D = pd.concat([D]*40*40)

In [ ]:
(C
.conditional_join(
    D, 
    
    ('profit','profit','>='),
    # ('keyy','keyy','=='),
  # ('unitsSold','unitsSold','>='),
  ('vol','vol','<='),
  # ('vol','profit','>'),
    use_numba=False)
)

(  key  vol  profit  unitsSold  keyy
 0  c1   35      45         15     1
 1  c2   15      35         10     2
 2  c3    5      55         30     3
 3  c4   35      12         10     4
 4  c5   18      15         15     5
 5  c6   90      55         80     6
 6  c7   17      11          2     7,
   key  vol  profit  unitsSold  keyy
 0  d1   20      30         20     8
 1  d2   50      10         35     7
 2  d3   15      12         10     6
 3  d4   16      52         12     5
 4  d5   40      35         40     4
 5  d6   20      20         30     3
 6  d7   40      30          5     2
 7  d8    2      57         15     1,
 slice(None, None, None),
 slice(None, None, None))

In [7]:
(C
.conditional_join(
    D, 
    
    ('profit','profit','>='),
    # ('keyy','keyy','=='),
  # ('unitsSold','unitsSold','>='),
  ('vol','vol','<='),
  # ('vol','profit','>'),
    use_numba=False, df_columns=1)
)

(  key  vol  profit  unitsSold  keyy
 0  c1   35      45         15     1
 1  c2   15      35         10     2
 2  c3    5      55         30     3
 3  c4   35      12         10     4
 4  c5   18      15         15     5
 5  c6   90      55         80     6
 6  c7   17      11          2     7,
   key  vol  profit  unitsSold  keyy
 0  d1   20      30         20     8
 1  d2   50      10         35     7
 2  d3   15      12         10     6
 3  d4   16      52         12     5
 4  d5   40      35         40     4
 5  d6   20      20         30     3
 6  d7   40      30          5     2
 7  d8    2      57         15     1,
 1,
 slice(None, None, None))

In [ ]:
# %%timeit
# (C
# .conditional_join(
#     D, 
    
#     ('profit','profit','>='),
#     # ('keyy','keyy','=='),
#   # ('unitsSold','unitsSold','>='),
#   ('vol','vol','<='),
#   # ('vol','profit','>'),
#     use_numba=True)
# )

In [ ]:
# %%timeit
# (C
# .conditional_join(
#     D, 
    
#     ('profit','profit','>='),
#     # ('keyy','keyy','=='),
#   # ('unitsSold','unitsSold','>='),
#   ('vol','vol','<='),
#   # ('vol','profit','>'),
#     use_numba=False)
# )

In [ ]:
C

  key  vol  profit  unitsSold  keyy
0  c1   35      45         15     1
1  c2   15      35         10     2
2  c3    5      55         30     3
3  c4   35      12         10     4
4  c5   18      15         15     5
5  c6   90      55         80     6
6  c7   17      11          2     7

In [ ]:
D.sort_values('profit')

  key  vol  profit  unitsSold  keyy
1  d2   50      10         35     7
2  d3   15      12         10     6
5  d6   20      20         30     3
0  d1   20      30         20     8
6  d7   40      30          5     2
4  d5   40      35         40     4
3  d4   16      52         12     5
7  d8    2      57         15     1

In [ ]:
D.sort_values('vol')

  key  vol  profit  unitsSold  keyy
7  d8    2      57         15     1
2  d3   15      12         10     6
3  d4   16      52         12     5
0  d1   20      30         20     8
5  d6   20      20         30     3
4  d5   40      35         40     4
6  d7   40      30          5     2
1  d2   50      10         35     7

In [ ]:
# %%timeit
# (C
# .conditional_join(
#     D, 
    
#     ('profit','profit','>='),
#     # ('keyy','keyy','=='),
#   # ('unitsSold','unitsSold','>='),
#   ('vol','vol','<='),
#   # ('vol','profit','>'),
#     use_numba=False)
# )

In [ ]:
C

  key  vol  profit  unitsSold  keyy
0  c1   35      45         15     1
1  c2   15      35         10     2
2  c3    5      55         30     3
3  c4   35      12         10     4
4  c5   18      15         15     5
5  c6   90      55         80     6
6  c7   17      11          2     7

In [ ]:
D.sort_values('profit')

  key  vol  profit  unitsSold  keyy
1  d2   50      10         35     7
2  d3   15      12         10     6
5  d6   20      20         30     3
0  d1   20      30         20     8
6  d7   40      30          5     2
4  d5   40      35         40     4
3  d4   16      52         12     5
7  d8    2      57         15     1

In [ ]:
# f=(C
# .conditional_join(
#     D, 
    
#     ('profit','profit','>='),
#     # ('keyy','keyy','=='),
#    ('unitsSold','unitsSold','>='),
#  # ('vol','vol','<='),
#   # ('vol','profit','>'),
#     use_numba=True)
# )
# f

In [ ]:
# from string import ascii_lowercase
# np.random.seed(1)
# n = 20; k = 20
# # n = 20_000_000; k = 20_000
# mapp = {k:v for v,k in enumerate(ascii_lowercase)}
# idx1 = np.random.randint(0, high = 2_00, size = n)
# idx2 = np.random.randint(0, high = 3_00, size = n)

# d1 = dict(x = np.random.choice(list(ascii_lowercase[:5]), size=n),
#           start = np.minimum(idx1, idx2),
#           end = np.maximum(idx1, idx2),
#           )


# d2 = dict(x = np.random.choice(list(ascii_lowercase[:15]), size=k),
#           pos1 = np.random.randint(low=60, high = 151, size=k))

# d1 = pd.DataFrame(d1)
# d2 = pd.DataFrame(d2)
# d1 = d1.assign(xx=lambda df: df.x.map(mapp))
# d2 = d2.assign(xx=lambda df: df.x.map(mapp))

In [ ]:
# bla = (d2
# .conditional_join(
#     d1, 
#     ('pos1', 'start', '>'), 
#      ('pos1', 'end', '<'), 
#    # ('xx', 'xx', '=='), 
#     use_numba=True)
# )

# bla

In [ ]:
x=np.array([6, 6, 6, 6, 2, 4, 5, 6, 5, 6, 5, 6, 6, 6, 5, 1, 6, 6, 3])
x

array([6, 6, 6, 6, 2, 4, 5, 6, 5, 6, 5, 6, 6, 6, 5, 1, 6, 6, 3])

In [ ]:
np.partition(bla[1],248842-248212)[248842-248212:]

NameError: name 'bla' is not defined

In [ ]:
%timeit bla[1][np.argpartition(bla[1],248842-248212)[248842-248212:]]

In [ ]:
%timeit bla[1][bla[1]>=91]

In [ ]:
bla[1][bla[1]>=91]

In [ ]:
%timeit x[x>=6]

In [ ]:
np.partition(x,7)

In [ ]:
%timeit x[np.argpartition(x,7)[8:]]

In [ ]:
%timeit x[np.argpartition(x,7)]

In [ ]:
len([3, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6])

In [ ]:
np.searchsorted([3, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6], 1)

In [ ]:
bla[3].size

In [ ]:
(bla[5][:2410367]>=91).sum()

In [ ]:
%timeit bla[5][:2410367][bla[5][:2410367]>=91]

In [ ]:
%timeit np.sort(bla[1][97:97+14458])

In [ ]:
pd.unique(bla[5])

In [ ]:
bla[1].size

In [ ]:
uniques = pd.factorize(bla[5],sort=True)[1]
uniques

In [ ]:
%timeit uniques.searchsorted(91)

In [ ]:
%timeit uniques.searchsorted(bla[5][:2410367])

In [ ]:
pd.unique(pd.factorize(bla[1],sort=True)[0])