In [1]:
import pandas as pd; import numpy as np; import janitor as jn; from pandas import Timedelta

In [2]:
df = pd.DataFrame(dict(A=[-1,0],
                       B=[1.0,0.0],
                       E=pd.to_datetime(['1969-12-31 23:59:59.999999999',
                          '1969-12-31 23:59:59.999999999']))
                          )
right=pd.DataFrame(dict(Floats=[-1.0,0.0],Integers=[1,0],Dates=pd.to_datetime(['1970-01-01','1970-01-01'])))

In [3]:
df

   A    B                             E
0 -1  1.0 1969-12-31 23:59:59.999999999
1  0  0.0 1969-12-31 23:59:59.999999999

In [4]:
right

   Floats  Integers      Dates
0    -1.0         1 1970-01-01
1     0.0         0 1970-01-01

In [5]:
(
        df[["B", "A", "E"]]
        .conditional_join(
            right[["Floats", "Integers", "Dates"]],
            ("B", "Floats", "<="),
            ("A", "Integers", "<"),
            ("E", "Dates", "<"),
            how="inner",
            keep="first",
            use_numba=True,
        )
 )

Empty DataFrame
Columns: [B, A, E, Floats, Integers, Dates]
Index: []

In [6]:
from string import ascii_lowercase
np.random.seed(1)
n = 20; k = 20
mapp = {k:v for v,k in enumerate(ascii_lowercase)}
idx1 = np.random.randint(0, high = 200, size = n)
idx2 = np.random.randint(0, high = 300, size = n)

d1 = dict(x = np.random.choice(list(ascii_lowercase[:5]), size=n),
          start = np.minimum(idx1, idx2),
          end = np.maximum(idx1, idx2),
          )


d2 = dict(x = np.random.choice(list(ascii_lowercase[:15]), size=k),
          pos1 = np.random.randint(low=60, high = 151, size=k))

d1 = pd.DataFrame(d1)
d2 = pd.DataFrame(d2)
d1 = d1.assign(xx=lambda df: df.x.map(mapp))
d2 = d2.assign(xx=lambda df: df.x.map(mapp))

In [7]:
bla = (d1
.conditional_join(
    d2, 
    ('start', 'pos1', '<'), 
    # ('end', 'pos1', '>'), 
    ('xx', 'xx', '=='), 
    use_numba=True)
)

bla

OMP: Info #276: omp_set_nested routine deprecated, please use omp_set_max_active_levels instead.

   left               right
      x start  end xx     x pos1 xx
0     d    68  140  3     d   81  3
1     d    68  140  3     d  137  3
2     a    79  141  0     a  137  0
3     a    79  141  0     a  135  0
4     d     7  192  3     d   81  3
5     d     7  192  3     d  137  3
6     c     1  129  2     c   66  2
7     a    71  209  0     a  137  0
8     a    71  209  0     a  135  0
9     c    20  115  2     c   66  2
10    a    30  146  0     a  137  0
11    a    30  146  0     a  135  0
12    d    49  156  3     d   81  3
13    d    49  156  3     d  137  3

In [8]:
d1

    x  start  end  xx
0   b     37   50   1
1   d     68  140   3
2   e     72  215   4
3   c    137  241   2
4   e     86  133   4
5   a     79  141   0
6   d      7  192   3
7   b     22  144   1
8   c      1  129   2
9   a     71  209   0
10  e    134  264   4
11  b     25  216   1
12  c    141  178   2
13  c     20  115   2
14  b    101  121   1
15  a     30  146   0
16  b     71  139   1
17  d     49  156   3
18  e      3  157   4
19  d    142  280   3

In [9]:
d1.merge(d2, on = 'xx').query('start < pos1')

   x_x  start  end  xx x_y  pos1
0    d     68  140   3   d   137
1    d     68  140   3   d    81
2    d      7  192   3   d   137
3    d      7  192   3   d    81
4    d     49  156   3   d   137
5    d     49  156   3   d    81
9    c      1  129   2   c    66
11   c     20  115   2   c    66
12   a     79  141   0   a   137
13   a     79  141   0   a   135
14   a     71  209   0   a   137
15   a     71  209   0   a   135
16   a     30  146   0   a   137
17   a     30  146   0   a   135

In [10]:
d1.merge(d2, on = 'xx').query('start < pos1 < end')

   x_x  start  end  xx x_y  pos1
0    d     68  140   3   d   137
1    d     68  140   3   d    81
2    d      7  192   3   d   137
3    d      7  192   3   d    81
4    d     49  156   3   d   137
5    d     49  156   3   d    81
9    c      1  129   2   c    66
11   c     20  115   2   c    66
12   a     79  141   0   a   137
13   a     79  141   0   a   135
14   a     71  209   0   a   137
15   a     71  209   0   a   135
16   a     30  146   0   a   137
17   a     30  146   0   a   135

In [11]:
d2

    x  pos1  xx
0   f   115   5
1   j   125   9
2   d   137   3
3   g    63   6
4   i    60   8
5   a   137   0
6   c    66   2
7   k   112  10
8   h   145   7
9   h   130   7
10  j    62   9
11  h   136   7
12  d    81   3
13  m   135  12
14  k    67  10
15  o   137  14
16  o   132  14
17  a   135   0
18  i   136   8
19  h   103   7

In [12]:
bla = (d1
.conditional_join(
    d2, 
    ('start', 'pos1', '<'), 
     ('end', 'pos1', '>'), 
    ('xx', 'xx', '=='), 
    use_numba=True)
)

bla

   left               right
      x start  end xx     x pos1 xx
0     d    68  140  3     d   81  3
1     d    68  140  3     d  137  3
2     a    79  141  0     a  137  0
3     a    79  141  0     a  135  0
4     d     7  192  3     d   81  3
5     d     7  192  3     d  137  3
6     c     1  129  2     c   66  2
7     a    71  209  0     a  137  0
8     a    71  209  0     a  135  0
9     c    20  115  2     c   66  2
10    a    30  146  0     a  137  0
11    a    30  146  0     a  135  0
12    d    49  156  3     d   81  3
13    d    49  156  3     d  137  3

In [13]:
bla[0].shape

KeyError: 0

In [ ]:
r=np.sort(np.column_stack(bla[0]),axis=0)
r
pd.Series(r[:,2]).is_monotonic_increasing

True

In [ ]:
(d1
.conditional_join(
    d2, 
    ('start', 'pos1', '>='), 
  #  ('end', 'pos1', '>='), 
    ('xx', 'xx', '<'), 
    use_numba=False)
)

(array([ 1,  1,  1,  1,  2,  2,  2,  2,  3,  3,  3,  3,  3,  3,  3,  3,  3,
         3,  3,  3,  3,  3,  3,  3,  4,  4,  4,  4,  5,  5,  5,  5,  5,  9,
         9,  9,  9,  9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 12, 12, 12,
        12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 14, 14, 14, 14,
        14, 14, 16, 16, 16, 16, 16, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19,
        19, 19, 19, 19]),
 array([ 4, 10,  3, 14,  4, 10,  3, 14,  4, 10,  3, 14, 12, 19,  7,  0,  1,
         9, 16, 13, 11, 18,  2, 15,  4, 10,  3, 14,  4, 10,  3,  6, 14,  4,
        10,  3,  6, 14,  4, 10,  3, 14, 19,  7,  0,  1,  9, 16,  4, 10,  3,
        14, 12, 19,  7,  0,  1,  9, 16, 13, 11, 18,  2, 15,  4, 10,  3,  6,
        14, 12,  4, 10,  3,  6, 14,  4, 10,  3, 14, 19,  7,  0,  1,  9, 16,
        13, 11, 18, 15]))

In [ ]:
# pprint([region_left, region_right, left_region, right_region])

In [14]:
df1 = pd.DataFrame({'id': [1,1,1,22,2,3], 
                    'value_1': [2,5,7,1,3,4]})
                    
df2 = pd.DataFrame({'id': [1,1,1,1,2,2,2,33], 
                    'value_2A': [0,3,7,12,0,2,3,1], 
                    'value_2B': [1,5,9,15,1,4,6,3]})

# df1 = pd.concat([df1]*2)
# df2 = pd.concat([df2]*2)
df1 = df1.sample(len(df1)).reset_index(drop=True)
df2 = df2.sample(len(df2)).reset_index(drop=True)

In [ ]:
df1

   id  value_1
0   1        7
1   1        2
2   1        5
3  22        1
4   3        4
5   2        3

In [ ]:
df2.sort_values(df2.columns.tolist())

   id  value_2A  value_2B
6   1         0         1
7   1         3         5
4   1         7         9
1   1        12        15
5   2         0         1
0   2         2         4
3   2         3         6
2  33         1         3

In [15]:
f=(df1
.conditional_join(
    df2,
    ('id', 'id', '=='),
    
    ('value_1', 'value_2B', '<='),
    ('value_1', 'value_2A', '=='),

    use_numba=True
))  
f

  left         right
    id value_1    id value_2A value_2B
0    1       7     1        7        9
1    2       3     2        3        6

In [ ]:
df1

   id  value_1
0   1        7
1   1        2
2   1        5
3  22        1
4   3        4
5   2        3

In [ ]:
df2

   id  value_2A  value_2B
0   2         2         4
1   1        12        15
2  33         1         3
3   2         3         6
4   1         7         9
5   2         0         1
6   1         0         1
7   1         3         5

In [ ]:
a,b=f
pd.concat([df1.iloc[a].reset_index(drop=True),
           df2.iloc[b].reset_index(drop=True)],
           axis=1).select(columns=['value_1','value_2A','value_2B'])

   value_1  value_2A  value_2B
0        7         7         9
1        3         3         6

In [ ]:
df1.merge(df2, left_on=['id', 'value_1'], right_on=['id','value_2A'])

   id  value_1  value_2A  value_2B
0   1        7         7         9
1   2        3         3         6

In [ ]:
df1.merge(df2, left_on=['id'], right_on=['id']).query('value_2A<value_1 and value_1>value_2B')

    id  value_1  value_2A  value_2B
2    1        7         0         1
3    1        7         3         5
6    1        2         0         1
10   1        5         0         1
14   2        3         0         1

In [ ]:
df1.merge(df2, left_on=['id'], right_on=['id']).query('value_2A<value_1<=value_2B')

    id  value_1  value_2A  value_2B
11   1        5         3         5
12   2        3         2         4

In [ ]:
df1

   id  value_1
0   1        7
1   1        2
2   1        5
3  22        1
4   3        4
5   2        3

In [ ]:
df2

   id  value_2A  value_2B
0   2         2         4
1   1        12        15
2  33         1         3
3   2         3         6
4   1         7         9
5   2         0         1
6   1         0         1
7   1         3         5

In [ ]:
r=np.sort(np.column_stack(bla[0]),axis=0)
r
pd.Series(r[:,2]).is_monotonic_increasing

True

In [ ]:
# df1 = pd.concat([df1]*2)
# df2 = pd.concat([df2]*2)

In [ ]:
df2.sort_values(['value_2A','value_2B'],kind='stable')

   id  value_2A  value_2B
5   2         0         1
6   1         0         1
2  33         1         3
0   2         2         4
7   1         3         5
3   2         3         6
4   1         7         9
1   1        12        15

In [ ]:
bla = (df1
.conditional_join(
    df2,
    # ('id', 'id', '>'),
     ('value_1', 'value_2A', '>='),
    ('value_1', 'value_2B', '<='),
    use_numba=True
))

bla

(array([0, 1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5]),
 array([4, 0, 2, 7, 3, 2, 6, 5, 7, 3, 0, 7, 3, 0, 2]))

In [ ]:
# %%timeit
# (df1
# .conditional_join(
#     df2,
#     # ('id', 'id', '>'),
#     # ('value_1', 'value_2A', '>='),
#     ('value_1', 'value_2B', '<='),
#     use_numba=True
# ))

In [ ]:
# %%timeit
# (df1
# .conditional_join(
#     df2,
#     # ('id', 'id', '>'),
#     # ('value_1', 'value_2A', '>='),
#     ('value_1', 'value_2B', '<='),
#     use_numba=False
# ))

In [ ]:
(df1
.conditional_join(
    df2,
    # ('id', 'id', '>'),
     ('value_1', 'value_2A', '>='),
    ('value_1', 'value_2B', '<='),
    use_numba=False
))

(array([0, 1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5]),
 array([4, 2, 0, 3, 7, 5, 6, 2, 0, 3, 7, 2, 0, 3, 7]))

In [ ]:
url='/Users/samuel.oranyeli/events.csv'
#url = 'https://raw.githubusercontent.com/samukweku/data-wrangling-blog/master/notebooks/Data_files/results.csv'
events = pd.read_csv(url, parse_dates=['start', 'end'])
events.head()

   id     name  audience               start     sponsor                 end
0   1  Event 1      1178 2022-11-19 10:00:00   Sponsor 2 2022-11-19 10:15:00
1   2  Event 2      1446 2015-09-27 15:00:00  Sponsor 11 2015-09-27 15:11:00
2   3  Event 3      2261 2019-11-12 18:00:00  Sponsor 10 2019-11-12 18:53:00
3   4  Event 4      1471 2019-12-24 22:00:00   Sponsor 6 2019-12-24 22:11:00
4   5  Event 5      2605 2028-06-20 12:00:00   Sponsor 8 2028-06-20 12:31:00

In [ ]:
bla =(events
.conditional_join(
    events,
    ('start', 'end', '<='),
    ('end', 'start', '>='),
    ('id', 'id', '!='),
    # ('audience','audience','>'),
    use_numba = True,
    df_columns = ['id', 'start', 'end'],
    right_columns = ['id', 'start', 'end'])
)

bla

(array([    0,     1,     2, ..., 29996, 29997, 29998]),
 array([    0,     1,     2, ..., 29996, 29997, 29998]))

In [ ]:
r=np.sort(np.column_stack(bla[0]),axis=0)
r
pd.Series(r[:,1]).is_monotonic_increasing

True

In [ ]:
events.shape[0]**2

899940001

In [ ]:
# %%timeit
# (events
# .conditional_join(
#     events,
#     ('start', 'end', '<='),
#     ('end', 'start', '>='),
#     ('id', 'id', '!='),
#     use_numba = True,
#     df_columns = ['id', 'start', 'end'],
#     right_columns = ['id', 'start', 'end'])
# )

In [ ]:
# %%timeit
# (events
# .conditional_join(
#     events,
#     ('start', 'end', '<='),
#     ('end', 'start', '>='),
#     ('id', 'id', '!='),
#     use_numba = False,
#     df_columns = ['id', 'start', 'end'],
#     right_columns = ['id', 'start', 'end'])
# )

In [ ]:
(events
.conditional_join(
    events,
    ('start', 'end', '<='),
    ('end', 'start', '>='),
    ('id', 'id', '!='),
    use_numba = False,
    df_columns = ['id', 'start', 'end'],
    right_columns = ['id', 'start', 'end'])
)

(array([    0,     1,     2, ..., 29996, 29997, 29998]),
 array([    0,     1,     2, ..., 29996, 29997, 29998]))

In [ ]:
C=dict(key=[f"c{num}" for num in range(1,8)],
       vol=[35,15,5,35,18,90,17],
       profit=[45,35,55,12,15,55,11],
       unitsSold=[15,10,30,10,15,80,2],
       keyy = range(1,8)
       )
C=pd.DataFrame(C)


D=dict(key=[f'd{num}' for num in range(1,9)],
       vol=[20,50,15,16,40,20,40,2],
       profit=[30,10,12,52,35,20,30,57],
       unitsSold=[20,35,10,12,40,30,5,15],
       keyy=range(8,0,-1)
       )
D=pd.DataFrame(D)

In [ ]:
C.merge(D, on='keyy').query('profit_x>=profit_y and unitsSold_x>=unitsSold_y and vol_x<=vol_y')

,key_x,vol_x,profit_x,unitsSold_x,keyy,key_y,vol_y,profit_y,unitsSold_y
1,c2,15,35,10,2,d7,40,30,5
2,c3,5,55,30,3,d6,20,20,30

In [ ]:
# C = pd.concat([C]*40)
# D = pd.concat([D]*40)

In [ ]:
f=(C
.conditional_join(
    D, 
    
    ('profit','profit','>='),
    ('keyy','keyy','=='),
   ('unitsSold','unitsSold','>='),
  ('vol','vol','<='),
  # ('vol','profit','>'),
    use_numba=True)
)
f

[array([1, 2, 3, 4]),
 array([[2, 4, 1],
       [1, 2, 1],
       [3, 4, 3],
       [3, 3, 2]]),
 array([6, 5, 4, 3, 2, 1]),
 array([[2, 4, 3],
       [2, 2, 2],
       [2, 1, 3],
       [1, 3, 1],
       [3, 4, 1],
       [4, 1, 3]]),
 array([0, 0, 0], dtype=int8),
 array([0, 1, 2, 3]),
 array([1, 2, 3, 4])]

(array([1, 2]), array([6, 5]))

In [ ]:
C.iloc[[1,2]], D.iloc[[6,5]]

(  key  vol  profit  unitsSold  keyy
 1  c2   15      35         10     2
 2  c3    5      55         30     3,
   key  vol  profit  unitsSold  keyy
 6  d7   40      30          5     2
 5  d6   20      20         30     3)

In [ ]:
f=(C
.conditional_join(
    D, 
    ('vol','vol','<'),
    ('profit','profit','>'),
 # ('unitsSold','unitsSold','<'),
 # ('vol','profit','>'),
    use_numba=True)
)
f

(array([0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 4, 6]),
 array([4, 6, 1, 0, 5, 6, 1, 2, 3, 0, 5, 4, 6, 1, 1, 1, 1]))

In [ ]:
f=(C
.conditional_join(
    D, 
    ('vol','vol','<'),
    ('profit','profit','>'),
  ('unitsSold','unitsSold','<'),
  ('vol','profit','>'),
    use_numba=True)
)
f

(array([0, 1, 3, 4, 6]), array([1, 1, 1, 1, 1]))

In [ ]:
C.shape[0] * D.shape[0]

56

In [ ]:
(C
.conditional_join(
    D, 
    ('vol','vol','<'),
    ('profit','profit','>'),
  #  ('unitsSold','unitsSold','<'),
    use_numba=False)
)

(array([0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 4, 6]),
 array([1, 6, 4, 1, 5, 0, 6, 1, 2, 5, 0, 6, 4, 3, 1, 1, 1]))

In [ ]:
(C
.conditional_join(
    D, 
    ('vol','vol','<'),
    ('profit','profit','>'),
    ('unitsSold','unitsSold','<'),
    use_numba=False)
)

(array([0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 4, 6]),
 array([1, 6, 4, 1, 5, 0, 6, 1, 2, 5, 0, 6, 4, 3, 1, 1, 1]))

In [ ]:
(C
.conditional_join(
    D, 
    ('vol','vol','<'),
    ('profit','profit','>'),
  ('unitsSold','unitsSold','<'),
  ('vol','profit','>'),
    use_numba=False)
)

(array([0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 4, 6]),
 array([1, 6, 4, 1, 5, 0, 6, 1, 2, 5, 0, 6, 4, 3, 1, 1, 1]))

In [ ]:
%%timeit
(C
.conditional_join(
    D, 
    ('vol','vol','<'),
    ('profit','profit','>'),
    ('unitsSold','unitsSold','<'),
    use_numba=True)
)

KeyboardInterrupt:

In [ ]:
%%timeit
(C
.conditional_join(
    D, 
    ('vol','vol','<'),
    ('profit','profit','>'),
    ('unitsSold','unitsSold','<'),
    use_numba=False)
)

KeyboardInterrupt:

In [ ]:
D

  key  vol  profit  unitsSold  keyy
0  d1   20      30         20     8
1  d2   50      10         35     7
2  d3   15      12         10     6
3  d4   16      52         12     5
4  d5   40      35         40     4
5  d6   20      20         30     3
6  d7   40      30          5     2
7  d8    2      57         15     1

In [ ]:
C.sort_values('vol')

  key  vol  profit  unitsSold  keyy
2  c3    5      55         30     3
1  c2   15      35         10     2
6  c7   17      11          2     7
4  c5   18      15         15     5
0  c1   35      45         15     1
3  c4   35      12         10     4
5  c6   90      55         80     6

In [ ]:
D.sort_values('vol')
#D.sort_values('profit')
#D.sort_values('profit',ascending=False)

  key  vol  profit  unitsSold  keyy
7  d8    2      57         15     1
2  d3   15      12         10     6
3  d4   16      52         12     5
0  d1   20      30         20     8
5  d6   20      20         30     3
4  d5   40      35         40     4
6  d7   40      30          5     2
1  d2   50      10         35     7

In [ ]:
D

  key  vol  profit  unitsSold  keyy
0  d1   20      30         20     8
1  d2   50      10         35     7
2  d3   15      12         10     6
3  d4   16      52         12     5
4  d5   40      35         40     4
5  d6   20      20         30     3
6  d7   40      30          5     2
7  d8    2      57         15     1

In [ ]:
C.sort_values('vol')

  key  vol  profit  unitsSold  keyy
2  c3    5      55         30     3
1  c2   15      35         10     2
6  c7   17      11          2     7
4  c5   18      15         15     5
0  c1   35      45         15     1
3  c4   35      12         10     4
5  c6   90      55         80     6

In [ ]:
D.sort_values('vol')

  key  vol  profit  unitsSold  keyy
7  d8    2      57         15     1
2  d3   15      12         10     6
3  d4   16      52         12     5
0  d1   20      30         20     8
5  d6   20      20         30     3
4  d5   40      35         40     4
6  d7   40      30          5     2
1  d2   50      10         35     7

In [ ]:
pd.concat([C.loc[:, ['key','vol']], D.loc[:, ['key','vol']]]).sort_values('vol',kind='stable')

  key  vol
7  d8    2
2  c3    5
1  c2   15
2  d3   15
3  d4   16
6  c7   17
4  c5   18
0  d1   20
5  d6   20
0  c1   35
3  c4   35
4  d5   40
6  d7   40
1  d2   50
5  c6   90

In [ ]:
C.sort_values('profit',ascending=False)

  key  vol  profit  unitsSold  keyy
2  c3    5      55         30     3
5  c6   90      55         80     6
0  c1   35      45         15     1
1  c2   15      35         10     2
4  c5   18      15         15     5
3  c4   35      12         10     4
6  c7   17      11          2     7

In [ ]:
D.sort_values('profit',ascending=False)

  key  vol  profit  unitsSold  keyy
7  d8    2      57         15     1
3  d4   16      52         12     5
4  d5   40      35         40     4
0  d1   20      30         20     8
6  d7   40      30          5     2
5  d6   20      20         30     3
2  d3   15      12         10     6
1  d2   50      10         35     7

In [ ]:
C.vol.sort_values()

2     5
1    15
6    17
4    18
0    35
3    35
5    90
Name: vol, dtype: int64

In [ ]:
C.vol.sort_values().searchsorted(D.vol, side='left')

array([4, 6, 1, 2, 6, 4, 6, 0])

In [ ]:
C.sort_values(['vol','profit', 'unitsSold'])

  key  vol  profit  unitsSold  keyy
2  c3    5      55         30     3
1  c2   15      35         10     2
6  c7   17      11          2     7
4  c5   18      15         15     5
3  c4   35      12         10     4
0  c1   35      45         15     1
5  c6   90      55         80     6