In [1]:
import pandas as pd; import numpy as np; import janitor as jn

In [2]:
print 'j'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (427054430.py, line 1)

In [ ]:
pd.__version__

'2.2.1'

In [ ]:
df1 = pd.DataFrame({'id': [1,1,1,2,2,3], 'value_1': [2,5,7,1,3,4]})
df2 = pd.DataFrame({'id': [1,1,1,1,2,2,2,3], 'value_2A': [0,3,7,12,0,2,3,1], 'value_2B': [1,5,9,15,1,4,6,3]})

In [ ]:
df1 = pd.concat([df1]*20000)
df2 = pd.concat([df2]*300)

df1.conditional_join(df2, ('value_1','value_2A','>'), ('value_1','value_2B','<'),use_numba=True)

(array([2, 3, 2, ..., 0, 0, 0]),
 array([3, 3, 3, ..., 0, 0, 0]),
 array([2398, 2390, 2382, ...,   23,   15,    7]),
 array([600, 300, 600, ..., 300, 300, 300]),
 array([1200, 1200, 1200, ...,  300,  300,  300]),
 array([  0,   0,   0, ..., 900, 900, 900]),
 30000000)

In [ ]:
%timeit df1.conditional_join(df2, ('value_1','value_2A','>'), ('value_1','value_2B','<'),use_numba=True)

29.9 ms ± 163 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
#32.6ms   30_000_000

In [ ]:
df1

    id  value_1
0    1        2
1    1        5
2    1        7
3    2        1
4    2        3
..  ..      ...
1    1        5
2    1        7
3    2        1
4    2        3
5    3        4

[120000 rows x 2 columns]

In [ ]:
events = pd.read_csv('/Users/samuel.oranyeli/Downloads/results.csv', parse_dates=['start','end']).iloc[:, 1:]

In [ ]:
(events
.conditional_join(
    events,
    ('start', 'end', '<='),
    ('end', 'start', '>='),
    # ('id', 'id', '!='),
    # ('audience','audience','>'),
    use_numba = True,
    df_columns = ['id', 'start', 'end'],
    right_columns = ['id', 'start', 'end'])
)

(array([28282, 28281, 28280, ...,     2,     1,     0]),
 array([28282, 28281, 28280, ...,     2,     1,     0]),
 array([25296, 10726, 24103, ...,  3544, 15884, 13367]),
 array([1, 1, 1, ..., 1, 1, 1]),
 array([29999, 29998, 29997, ...,     3,     2,     1]),
 array([    0,     1,     2, ..., 29996, 29997, 29998]),
 33701)

In [ ]:
a,b,c,d=(events
.conditional_join(
    events,
    ('start', 'end', '<='),
    ('end', 'start', '>='),
    # ('id', 'id', '!='),
    # ('audience','audience','>'),
    use_numba = True,
    df_columns = ['id', 'start', 'end'],
    right_columns = ['id', 'start', 'end'])
)

a,b,c,d

ValueError: too many values to unpack (expected 4)

In [ ]:
%timeit np.bincount(b)

54.1 µs ± 1.17 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [ ]:
b[29693:29696]

array([285, 285, 285])

In [ ]:
# %%timeit
# (events
# .conditional_join(
#     events,
#     ('start', 'end', '<='),
#     ('end', 'start', '>='),
#     # ('id', 'id', '!='),
#     # ('audience','audience','>'),
#     use_numba = True,
#     df_columns = ['id', 'start', 'end'],
#     right_columns = ['id', 'start', 'end'])
# )

15.5 ms ± 34.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
# %%timeit
# (events
# .conditional_join(
#     events,
#     ('start', 'end', '<='),
#     ('end', 'start', '>='),
#     # ('id', 'id', '!='),
#     # ('audience','audience','>'),
#     use_numba = False,
#     df_columns = ['id', 'start', 'end'],
#     right_columns = ['id', 'start', 'end'])
# )

In [3]:
C=dict(key=[f"c{num}" for num in range(1,8)],
       vol=[35,15,5,35,18,90,17],
       profit=[45,35,55,12,15,55,11],
       unitsSold=[15,10,30,10,15,80,2],
       keyy = range(1,8)
       )
C=pd.DataFrame(C)


D=dict(key=[f'd{num}' for num in range(1,9)],
       vol=[20,50,15,16,40,20,40,2],
       profit=[30,10,12,52,35,20,30,57],
       unitsSold=[20,35,10,12,40,30,5,15],
       keyy=range(8,0,-1)
       )
D=pd.DataFrame(D)

In [4]:
out=(C
.conditional_join(
    D, 
    
    ('profit','profit','>='),
    # ('keyy','keyy','=='),
    #  ('unitsSold','unitsSold','>='),
  ('vol','vol','<='),
  # ('vol','profit','>'),
    use_numba=True)
)

out

(array([0, 2, 0, 2, 1, 1]),
 array([0, 2, 0, 2, 1, 1]),
 array([0, 2, 2, 1, 1, 0, 2]),
 array([3, 4, 6, 0, 5, 2, 1]))

In [ ]:
(C
.conditional_join(
    D, 
    
    ('profit','profit','>='),
    # ('keyy','keyy','=='),
    #  ('unitsSold','unitsSold','>='),
  ('vol','vol','<='),
  # ('vol','profit','>'),
    use_numba=False)
)

(array([0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 4, 6]),
 array([1, 6, 4, 1, 2, 5, 0, 6, 4, 1, 2, 5, 0, 6, 4, 3, 1, 1, 1]))

In [ ]:
%%timeit
(C
.conditional_join(
    D, 
    
    ('profit','profit','>='),
    # ('keyy','keyy','=='),
    #  ('unitsSold','unitsSold','>='),
  ('vol','vol','<='),
  # ('vol','profit','>'),
    use_numba=True)
)

731 µs ± 5.38 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [ ]:
%%timeit
(C
.conditional_join(
    D, 
    
    ('profit','profit','>='),
    # ('keyy','keyy','=='),
    #  ('unitsSold','unitsSold','>='),
  ('vol','vol','<='),
  # ('vol','profit','>'),
    use_numba=False)
)

608 µs ± 12.5 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [ ]:
print 'i'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (414025362.py, line 1)

In [ ]:
C = pd.concat([C]*400)
D = pd.concat([D]*400)

In [ ]:
(C
.conditional_join(
    D, 
    
    ('profit','profit','>='),
    # ('keyy','keyy','=='),
  # ('unitsSold','unitsSold','>='),
  ('vol','vol','<='),
  # ('vol','profit','>'),
    use_numba=True)
)

(False, False)

In [ ]:
%%timeit
(C
.conditional_join(
    D, 
    
    ('profit','profit','>='),
    # ('keyy','keyy','=='),
  # ('unitsSold','unitsSold','>='),
  ('vol','vol','<='),
  # ('vol','profit','>'),
    use_numba=True)
)

1.55 ms ± 203 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
(C
.conditional_join(
    D, 
    
    ('profit','profit','>='),
    # ('keyy','keyy','=='),
  # ('unitsSold','unitsSold','>='),
  ('vol','vol','<='),
  # ('vol','profit','>'),
    use_numba=False)
)

31.4 ms ± 248 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
(C
.conditional_join(
    D, 
    
    ('profit','profit','>='),
    # ('keyy','keyy','=='),
  # ('unitsSold','unitsSold','>='),
  ('vol','vol','<='),
  # ('vol','profit','>'),
    use_numba=True)
)[0].size

30400

In [ ]:
(C
.conditional_join(
    D, 
    
    ('profit','profit','>='),
    # ('keyy','keyy','=='),
  # ('unitsSold','unitsSold','>='),
  ('vol','vol','<='),
  # ('vol','profit','>'),
    use_numba=False)
)[0].size

30400

In [ ]:
from string import ascii_lowercase
np.random.seed(1)
# n = 10000000; k = 20000
n = 20_0_000; k = 20_0
mapp = {k:v for v,k in enumerate(ascii_lowercase)}
idx1 = np.random.randint(0, high = 2_00, size = n)
idx2 = np.random.randint(0, high = 3_00, size = n)

d1 = dict(x = np.random.choice(list(ascii_lowercase[:5]), size=n),
          start = np.minimum(idx1, idx2),
          end = np.maximum(idx1, idx2),
          )


d2 = dict(x = np.random.choice(list(ascii_lowercase[:15]), size=k),
          pos1 = np.random.randint(low=60, high = 151, size=k))

d1 = pd.DataFrame(d1)
d2 = pd.DataFrame(d2)
d1 = d1.assign(xx=lambda df: df.x.map(mapp))
d2 = d2.assign(xx=lambda df: df.x.map(mapp))

In [ ]:
%%timeit
bla = (d2
.conditional_join(
    d1, 
    ('pos1', 'start', '>'), 
     ('pos1', 'end', '<'), 
   # ('xx', 'xx', '=='), 
    use_numba=True)
)

3.22 s ± 8.97 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
(d2
.conditional_join(
    d1, 
    ('pos1', 'start', '>'), 
     ('pos1', 'end', '<'), 
   # ('xx', 'xx', '=='), 
    use_numba=True)
)

(array([14, 13, 14, 12, 11, 10,  9,  8,  7,  6,  4,  5,  5,  3,  3,  3,  2,
         1,  0,  0]),
 array([14, 14, 11, 14, 14, 14, 10, 14, 14, 14, 14, 14, 13,  8, 14, 14, 14,
        14, 11, 14, 14, 14, 14, 14, 14, 14, 14,  9, 14,  7, 14, 14, 14,  8,
         9,  1, 14,  9, 14, 14, 14,  0, 14, 14,  5, 13, 14,  4, 14,  0,  5,
         5, 14,  0,  7, 14,  2, 14, 14, 14, 14, 14, 14, 14,  2, 14,  7, 14,
        14,  8,  6, 14,  9,  0, 14,  8, 14, 12,  2, 14, 14,  3,  7, 10,  6]),
 array([ 7, 35, 24, 16, 25,  3, 62,  4, 77, 32, 98, 69, 71, 41, 55, 36, 43,
        89, 54, 72, 22, 47, 17, 87, 84, 23, 93, 78,  5, 95,  6, 96, 50,  8,
        88,  2, 21, 58, 74, 28, 33, 27, 30, 45, 14, 83, 37, 52, 20, 94, 44,
        90, 73,  9, 56, 12, 76, 91, 39, 86, 51, 63, 85, 60, 53, 48, 61, 82,
        66, 29, 65, 13, 10, 40, 57, 38, 81, 19, 67, 34, 92, 26, 97,  1, 31]),
 array([51, 52, 50, 52, 53, 52, 54, 52, 51, 53, 53, 52, 52, 53, 53, 52, 47,
        45, 46, 46]),
 array([ 0,  1,  1,  2,  3,  6,  8, 14, 19, 19, 23, 23, 23, 24, 24, 25, 33,
        36, 39, 39]))

In [ ]:
%%timeit
bla = (d2
.conditional_join(
    d1, 
    ('pos1', 'start', '>'), 
     ('pos1', 'end', '<'), 
   # ('xx', 'xx', '=='), 
    use_numba=False)
)

372 ms ± 2.41 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
employees = pd.read_csv('/Users/samuel.oranyeli/employees.csv')

In [ ]:
%%timeit
(employees
.conditional_join(
    employees,
    ('salary', 'salary', '<'),
    ('tax', 'tax', '>'),
    use_numba = True)
)

In [ ]:
%%timeit
(employees
.conditional_join(
    employees,
    ('salary', 'salary', '<'),
    ('tax', 'tax', '>'),
    use_numba = False)
)

4.02 s ± 8.26 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)