In [1]:
import pandas as pd
import numpy as np
import janitor as jn
from pandas import Timedelta

from janitor.functions._numba import (
    _numba_multiple_non_equi_join,
    _get_regions_non_equi,
    _align_indices_and_regions,
    _get_indices_dual_non_monotonic_non_equi,
)

In [2]:
%load_ext line_profiler

In [3]:
df = pd.DataFrame(
    dict(
        A=[0, 1],
        B=[0.0, 0.0],
        E=pd.to_datetime(
            ["1970-01-01 00:00:00.000000000", "1969-12-31 23:59:59.999999999"]
        ),
    )
)
right = pd.DataFrame(
    dict(
        Integers=[-1, -1, 0],
        Dates=pd.to_datetime(
            [
                "1970-01-01 00:00:00.000000000",
                "1970-01-01 00:00:00.000000001",
                "1970-01-01 00:00:00.000000001",
            ]
        ),
    )
)

In [4]:
df

   A    B                             E
0  0  0.0 1970-01-01 00:00:00.000000000
1  1  0.0 1969-12-31 23:59:59.999999999

In [5]:
right

   Integers                         Dates
0        -1 1970-01-01 00:00:00.000000000
1        -1 1970-01-01 00:00:00.000000001
2         0 1970-01-01 00:00:00.000000001

In [6]:
expected = (
        df[["A", "E"]]
        .assign(index=df.index)
        .merge(
            right[["Integers", "Dates"]],
            how="cross",
        )
        .loc[lambda df: df.A.gt(df.Integers) & df.E.lt(df.Dates)]
        .groupby("index", sort=False)
        .tail(1)
        .drop(columns="index")
        .reset_index(drop=True)
    )

actual = df[["A", "E"]].conditional_join(
        right[["Integers", "Dates"]],
        ("A", "Integers", ">"),
        ("E", "Dates", "<"),
        how="inner",
        keep="last",
        use_numba=True,
    )

chaiii

In [7]:
expected

   A                             E  Integers                         Dates
0  0 1970-01-01 00:00:00.000000000        -1 1970-01-01 00:00:00.000000001
1  1 1969-12-31 23:59:59.999999999         0 1970-01-01 00:00:00.000000001

In [8]:
actual

   A                             E  Integers                         Dates
0  1 1969-12-31 23:59:59.999999999         0 1970-01-01 00:00:00.000000001
1  0 1970-01-01 00:00:00.000000000        -1 1970-01-01 00:00:00.000000001

In [9]:
url = "https://raw.githubusercontent.com/samukweku/data-wrangling-blog/master/notebooks/Data_files/results.csv"
url = "/Users/samuel.oranyeli/events.csv"
events = pd.read_csv(url, parse_dates=["start", "end"]).iloc[:, 1:]
events.head()

      name  audience               start     sponsor                 end
0  Event 1      1178 2022-11-19 10:00:00   Sponsor 2 2022-11-19 10:15:00
1  Event 2      1446 2015-09-27 15:00:00  Sponsor 11 2015-09-27 15:11:00
2  Event 3      2261 2019-11-12 18:00:00  Sponsor 10 2019-11-12 18:53:00
3  Event 4      1471 2019-12-24 22:00:00   Sponsor 6 2019-12-24 22:11:00
4  Event 5      2605 2028-06-20 12:00:00   Sponsor 8 2028-06-20 12:31:00

In [10]:
(
    events.conditional_join(
        events,
        ("start", "end", "<="),
        ("end", "start", ">="),
        # ('id', 'id', '!='),
        use_numba=True,
        df_columns=["start", "end"],
        right_columns=["start", "end"],
    )
)

ValueError: id not present in dataframe columns!

In [ ]:
print 'i'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (414025362.py, line 1)

In [ ]:
# %%timeit
# (events
# .conditional_join(
#     events,
#     ('start', 'end', '<='),
#     ('end', 'start', '>='),
#     # ('id', 'id', '!='),
#     use_numba = False,
#     df_columns = ['start', 'end'],
#     right_columns = ['start', 'end'])
# )

In [ ]:
np.random.seed(0)
dd = pd.DataFrame({"value": np.random.randint(100000, size=50_000)})
df = pd.DataFrame(
    {
        "start": np.random.randint(100000, size=1_000),
        "end": np.random.randint(100000, size=1_000),
    }
)

In [ ]:
(
    left_region,
    right_region,
    left_index,
    right_index,
    starts,
    ends,
    cum_max_arr,
    max_freq,
) = dd.conditional_join(
    df, ("value", "start", ">"), ("value", "end", "<"), use_numba=True
)

In [ ]:
%lprun -f _get_indices_dual_non_monotonic_non_equi.__wrapped__ _get_indices_dual_non_monotonic_non_equi.__wrapped__(left_region, right_region, left_index, right_index, starts, cum_max_arr, ends,max_freq)

Timer unit: 1e-09 s

Total time: 51.2866 s
File: /Users/samuel.oranyeli/pyjanitor/janitor/functions/_numba.py
Function: _get_indices_dual_non_monotonic_non_equi at line 1034

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
  1034                                           @njit()
  1035                                           def _get_indices_dual_non_monotonic_non_equi(
  1036                                               left_region: np.ndarray,
  1037                                               right_region: np.ndarray,
  1038                                               left_index: np.ndarray,
  1039                                               right_index: np.ndarray,
  1040                                               starts: np.ndarray,
  1041                                               max_arr: np.ndarray,
  1042                                               ends: int,
  1043                                               max_freq:int
  1044                                           ) -> tuple:
  1045                                               """
  1046                                               Retrieves the matching indices
  1047                                               for the left and right regions.
  1048                                               Strictly for non-equi joins,
  1049                                               where only two join conditions are present.
  1050                                               """
  1051                                               # two step pass
  1052                                               # first pass gets the length of the final indices
  1053                                               # uses a variant of counting sort
  1054                                               # to get the number of matches in the right region
  1055                                               # per entry in the left region
  1056         1      67000.0  67000.0      0.0      nrows = right_region.max() + 1
  1057         1      18000.0  18000.0      0.0      value_counts = np.zeros(nrows, dtype=np.intp)
  1058         1       2000.0   2000.0      0.0      count_indices = np.empty(starts.size, dtype=np.intp)
  1059         1          0.0      0.0      0.0      total_length = 0
  1060         1          0.0      0.0      0.0      previous_start = ends
  1061                                               # positions -----> [0 1 2 3 4 5]
  1062                                               # left_region ---> [0 1 1 5 5 6]
  1063                                               # right_region --> [7 7 7 7 7 7]
  1064                                               # note how the last value in the left_region(6)
  1065                                               # is less than the previous value(position 4) in the right_region (7)
  1066                                               # there is no need to search from 5 to 7 for position 4
  1067                                               # since that has already been captured in the iteration
  1068                                               # for 6 to 7 (position 5)
  1069                                               # the iterative search should not capture more than once
  1070                                               # and only capture relevant values
  1071                                               # in short, restrict the search space as much as permissible
  1072                                               # search starts from the bottom/max
  1073     49989    6718000.0    134.4      0.0      for num in range(starts.size - 1, -1, -1):
  1074     49988   18003000.0    360.1      0.0          start = starts[np.uintp(num)]
  1075     49988   11582000.0    231.7      0.0          end = min(previous_start, ends)
  1076                                                   # maximum value at the same position
  1077                                                   # as left_region in right_region
  1078     49988   22261000.0    445.3      0.0          arr_max = max_arr[np.uintp(start)]
  1079     50987   12816000.0    251.4      0.0          for n in range(start, end):
  1080       999     373000.0    373.4      0.0              r_region = right_region[np.uintp(n)]
  1081       999    1330000.0   1331.3      0.0              value_counts[np.uintp(r_region)] += 1
  1082     49988    4180000.0     83.6      0.0          previous_start = start
  1083     49988    4236000.0     84.7      0.0          counter = 0
  1084                                                   # search here should include the maximum value
  1085                                                   # within the search space
  1086                                                   # hence the +1 addition
  1087  24477413 2693347000.0    110.0      5.3          for nn in range(left_region[np.uintp(num)], arr_max + 1):
  1088  24427425 8231583000.0    337.0     16.1              counter += value_counts[np.uintp(nn)]
  1089     49988    5986000.0    119.7      0.0          total_length += counter
  1090     49988    8571000.0    171.5      0.0          count_indices[num] = counter
  1091                                               # return count_indices, value_counts
  1092                                               # second pass populates the final indices with actual values
  1093                                               # again, we use a variant of counting sort here
  1094                                               # this time, we use the cumulative sum of value_counts
  1095                                               # to get the right_index positions
  1096                                               # since we already have our right_index sorted
  1097         1      31000.0  31000.0      0.0      start_indices = np.zeros(starts.size, dtype=np.intp)
  1098         1     168000.0 168000.0      0.0      start_indices[1:] = np.cumsum(count_indices)[:-1]
  1099         1      19000.0  19000.0      0.0      l_index = np.empty(total_length, dtype=np.intp)
  1100         1       1000.0   1000.0      0.0      r_index = np.empty(total_length, dtype=np.intp)
  1101                                               # value_counts = np.cumsum(value_counts)
  1102         1       2000.0   2000.0      0.0      value_counts = np.zeros(nrows, dtype=np.intp)
  1103         1       2000.0   2000.0      0.0      positions = np.zeros((nrows, max_freq), dtype=np.intp)
  1104         1          0.0      0.0      0.0      previous_start = ends
  1105     49989    7542000.0    150.9      0.0      for num in range(starts.size - 1, -1, -1):
  1106     49988   19983000.0    399.8      0.0          start = starts[np.uintp(num)]
  1107     49988   11995000.0    240.0      0.0          end = min(previous_start, ends)
  1108     49988   20107000.0    402.2      0.0          arr_max = max_arr[np.uintp(start)]
  1109     50987   12082000.0    237.0      0.0          for n in range(start, end):
  1110       999     543000.0    543.5      0.0              r_region = right_region[np.uintp(n)]
  1111                                                       # print(r_region)
  1112       999     341000.0    341.3      0.0              r_region = np.uintp(r_region)
  1113       999    1316000.0   1317.3      0.0              value_counts[r_region] += 1
  1114       999     686000.0    686.7      0.0              positions[r_region, value_counts[r_region] - 1] = n
  1115     49988    4339000.0     86.8      0.0          previous_start = start
  1116     49988   17444000.0    349.0      0.0          l_region = left_region[np.uintp(num)]
  1117     49988   16126000.0    322.6      0.0          l_ind = left_index[np.uintp(num)]
  1118     49988   15810000.0    316.3      0.0          indexer = start_indices[np.uintp(num)]
  1119                                                   # size = count_indices[num] - 1
  1120                                                   # print(l_region, arr_max, value_counts)
  1121                                                   # print(positions, counts)
  1122  24477413 3118375000.0    127.4      6.1          for nn in range(l_region, arr_max + 1):
  1123  24427425 8455279000.0    346.1     16.5              counter = value_counts[np.uintp(nn)]
  1124  24427425 2034117000.0     83.3      4.0              if not counter:
  1125  15816705 1267364000.0     80.1      2.5                  continue
  1126                                                       # print(counter, size)
  1127  17324536 3101640000.0    179.0      6.0              for sz in range(counter):
  1128   8713816 4892798000.0    561.5      9.5                  pos = positions[np.uintp(nn), np.uintp(sz)]
  1129                                                       # for nnn in range(1, counter + 1):
  1130                                                           # pos = value_counts[region] - nnn
  1131   8713816 3500317000.0    401.7      6.8                  r_ind = right_index[np.uintp(pos)]
  1132   8713816 3057895000.0    350.9      6.0                  indexer = np.uintp(indexer)
  1133   8713816 1245232000.0    142.9      2.4                  l_index[indexer] = l_ind
  1134   8713816 1121062000.0    128.7      2.2                  r_index[indexer] = r_ind
  1135   8713816 8342923000.0    957.4     16.3                  indexer += 1
  1136         1       1000.0   1000.0      0.0      return l_index, r_index

In [ ]:
left_region

array([980, 980, 980, ...,   0,   0,   0])

In [ ]:
cum_max_arr

array([980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980,
       980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 980, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978, 978,
       978, 978, 978, 973, 973, 973, 973, 973, 973, 973, 973, 973, 973,
       973, 973, 973, 973, 973, 973, 973, 973, 973, 973, 973, 973, 973,
       973, 973, 973, 973, 973, 973, 973, 973, 973, 973, 966, 966, 966,
       966, 966, 966, 966, 966, 966, 966, 966, 966, 966, 966, 966, 966,
       966, 966, 966, 966, 966, 966, 966, 966, 966, 966, 966, 966, 966,
       966, 966, 966, 966, 966, 966, 966, 966, 966, 966, 966, 966, 966,
       966, 966, 966, 966, 966, 966, 966, 966, 966, 966, 966, 966, 966,
       962, 962, 962, 962, 962, 957, 957, 957, 957, 957, 957, 957, 957,
       957, 957, 957, 957, 957, 957, 957, 957, 957, 957, 957, 957, 957,
       957, 957, 957, 957, 957, 957, 957, 957, 957, 957, 957, 957, 957,
       957, 957, 957, 957, 957, 957, 957, 957, 957, 957, 957, 957, 957,
       957, 927, 927, 917, 917, 917, 917, 917, 917, 917, 917, 917, 917,
       917, 815, 815, 815, 815, 815, 815, 815, 815, 815, 815])

In [ ]:
right_region.max()

980

In [ ]:
%timeit pd.Index(right_region).nunique()

32.8 µs ± 178 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [11]:
C = dict(
    key=[f"c{num}" for num in range(1, 8)],
    vol=[35, 15, 5, 35, 18, 90, 17],
    profit=[45, 35, 55, 12, 15, 55, 11],
    unitsSold=[15, 10, 30, 10, 15, 80, 2],
)
C = pd.DataFrame(C)


D = dict(
    key=[f"d{num}" for num in range(1, 9)],
    vol=[20, 50, 15, 16, 40, 20, 40, 2],
    profit=[30, 10, 12, 52, 35, 20, 30, 57],
    unitsSold=[20, 35, 10, 12, 40, 30, 5, 15],
)
D = pd.DataFrame(D)

In [12]:
C.conditional_join(
    D, ("vol", "vol", "<"), ("profit", "profit", ">"), use_numba=True
)

chaiii

   left                      right
    key vol profit unitsSold   key vol profit unitsSold
0    c3   5     55        30    d4  16     52        12
1    c3   5     55        30    d5  40     35        40
2    c3   5     55        30    d7  40     30         5
3    c3   5     55        30    d1  20     30        20
4    c3   5     55        30    d6  20     20        30
5    c3   5     55        30    d3  15     12        10
6    c3   5     55        30    d2  50     10        35
7    c1  35     45        15    d2  50     10        35
8    c1  35     45        15    d7  40     30         5
9    c1  35     45        15    d5  40     35        40
10   c2  15     35        10    d1  20     30        20
11   c2  15     35        10    d6  20     20        30
12   c2  15     35        10    d2  50     10        35
13   c2  15     35        10    d7  40     30         5
14   c5  18     15        15    d2  50     10        35
15   c7  17     11         2    d2  50     10        35
16   c4  35     12        10    d2  50     10        35

In [ ]:
right_region

array([356,  58, 424, 695,  73, 386, 721, 152, 765, 435,  90, 946, 741,
       159, 451, 215, 363, 496, 627, 792, 677, 910, 949, 132, 480, 273,
       813, 341, 632, 171, 711, 899, 916, 632, 698, 585, 489, 854, 596,
        87, 205, 456, 230, 604, 718, 834, 683, 142, 145, 798, 667, 953,
       216, 616, 607, 925, 161, 642, 586, 826, 370, 719, 975,  35, 441,
       635, 473, 781, 430, 894, 892, 800,   1, 401, 878, 539, 265, 248,
       117, 937,  77, 592, 569, 848, 936, 821, 421, 106, 828, 412,  32,
       688, 458, 125, 127, 131, 823,  16, 300, 371, 851, 969,  50, 753,
       348, 708, 340, 749, 212, 771, 776, 209, 129, 399, 942, 203, 923,
       402, 359, 220, 403, 814, 713, 471, 382, 746, 486,  13,  46, 582,
       767, 319, 605, 517, 554, 450, 672, 932, 922, 442, 208, 434, 358,
       288, 231, 214, 121, 950, 559, 499, 871, 390,  74, 295, 534, 482,
       696, 913, 681, 511, 201, 429, 368, 613, 847, 885, 448, 709, 886,
       362, 291, 773, 190, 890, 948, 452, 911, 253, 645, 921, 571, 244,
       740,  59, 502, 186, 258, 342, 545, 151, 178, 347, 487, 464, 133,
       933, 655,  25, 641, 747, 945, 455, 198, 353, 682, 164, 877, 769,
       583,  14, 615, 735, 119, 552, 730, 558, 488, 236, 115, 967, 954,
       961, 587, 233, 503, 809, 716, 528, 540, 146, 684, 251, 437, 638,
       710, 397,  88, 352,  89, 714, 396, 130, 281, 671, 224, 205, 415,
       760, 155, 796, 173, 939, 555, 901, 337, 419, 943, 606, 575,  30,
       284, 409, 842, 126, 306, 536, 110, 134, 787, 819, 644,  61, 189,
       692, 888, 380, 929, 791, 843, 663, 177, 926, 162, 625, 257, 465,
       876, 226,   7, 568, 610, 577, 166, 277, 970, 252,  98, 211, 912,
       494, 351, 915,  15, 944,  52, 940, 875, 512, 832, 513, 227, 289,
       748, 802, 680, 317, 135,  75, 658, 846, 344, 112, 976, 339,  94,
       172, 199, 416, 712,  26, 524,  48, 180, 440, 687, 349, 365, 531,
       750, 835, 332, 963,  38, 837, 974, 185, 122, 160, 457, 485, 656,
        41, 373, 194, 666, 501, 307,  45, 312, 631, 210, 271, 221, 865,
       366, 697, 243, 447, 375, 598, 163, 461, 896, 410, 193, 400, 116,
       414, 801, 374, 725, 797, 782, 378, 541,   9, 254, 904, 880, 958,
       387, 757, 931, 795, 761,  49, 959, 514, 955, 662, 510, 491, 664,
       391, 734, 813,  53, 384, 685, 768, 228, 717, 588, 952, 576, 897,
       811, 154, 308, 707,  39, 318, 486, 350, 389, 617, 269, 898, 114,
        68, 345, 128, 111, 694, 772, 210, 937, 670, 807, 803, 622, 191,
       652, 824, 168, 535, 460, 573, 290, 829, 920, 264, 282, 651, 263,
       320, 445,  37, 907,  63, 422, 225, 906, 611, 743, 579, 561, 304,
       724, 315, 274, 354, 239, 120,  81, 849, 758, 905, 812, 960, 584,
       533, 770, 137, 268, 532, 774, 425, 793,  44,  43, 850, 138, 240,
       275, 262, 476, 102, 322, 551,  55, 310,  31, 862,   3,  65, 549,
       818, 481, 369, 537, 217, 678, 364, 601,   0, 219, 565, 733, 260,
       296, 285, 530, 775, 267, 649, 951, 507,  56, 563, 246, 597, 431,
       956, 891, 360, 516,  51, 754, 653, 919,  64, 544, 757, 377, 825,
       443, 833, 609,  99, 521,  17, 621, 979, 903, 469, 526, 980, 183,
       881, 895, 869, 327, 600, 935, 206, 297, 591, 726, 679, 195, 385,
       170,  19, 408,  69,  28, 393, 661,  18, 357, 608, 475, 971,  33,
       840, 329, 346, 860, 553, 872, 640, 273, 618, 887, 691, 938, 136,
       581, 700, 381, 298, 764, 249, 506, 182, 874, 278, 572, 636, 614,
       870,  42,  95, 732, 660,  10, 406, 379, 470, 703, 498, 423, 761,
       316, 179, 294, 736,  20, 738, 805, 924, 799, 928, 523,   6, 508,
       105, 493, 495, 650, 330, 538, 107, 484, 778, 124, 361, 630,  84,
       804, 918, 914, 893, 479, 355, 639, 218, 525, 964, 542, 394, 884,
       283, 853, 715, 149, 113,   4,  27, 123, 702, 150, 334, 737,  92,
       881, 103, 343, 844,  66, 463, 879, 376, 578, 108, 305, 302, 261,
       222,  67, 417, 822, 148, 972, 266, 612, 855, 139, 745, 701, 977,
       141,  71, 556, 886, 247, 808, 279, 654,   5,   2, 780, 306,  82,
       766,  62, 390,  78, 647, 204, 109, 165, 245, 777, 468, 857, 668,
       889, 646, 436, 864, 405, 882, 643, 669,  96, 744, 413, 574, 492,
       866, 836, 325, 657, 909, 237,  83, 817, 564, 628, 444, 503, 490,
       779, 562, 602,  28, 723, 560, 176, 752,  24,  86, 820, 299, 623,
       432, 207,  22, 518, 140, 426, 392, 759, 794, 728, 383, 483, 326,
       548, 599, 624, 100, 509, 184, 104,  57, 202,  47, 505, 620, 729,
        85, 395, 629, 567, 603, 504, 372, 790, 418, 633, 187, 331, 785,
       286, 234, 902, 858, 484, 852, 908, 144, 197, 720, 566, 388, 255,
       690, 675, 367, 428, 287, 784, 783, 143, 427, 686, 619,  93, 590,
       398, 250, 978,  54, 256, 742,  76, 676, 153,  40, 477, 557, 873,
       213, 699, 665, 727, 196, 739,  11, 466, 446, 238, 693, 547, 786,
       293, 968, 546, 223, 311, 867, 474, 634, 404, 973, 241, 324, 593,
        21, 941, 438,  80, 674, 900, 453, 806,  23, 947,   8,  70, 188,
       478, 751, 839, 673,  60,  12, 637, 462, 659, 147,  91, 589, 118,
       830, 722, 934, 883, 883, 529, 497, 859, 181, 338, 762, 838, 439,
       192, 200, 301, 467, 816,  22, 272, 756, 965, 543, 229, 407, 966,
       930, 335, 449, 689, 962, 355, 175, 336, 550, 500, 101, 845, 580,
       169, 789, 454, 731, 276, 167, 292, 810, 788, 831, 472, 270, 841,
       595, 594, 570, 174, 333, 515,  36,  34, 861, 158, 827, 763, 856,
       303, 648,  72, 259, 235,  79, 242, 706, 309, 433, 321, 705, 868,
       957, 323, 927, 156, 314, 755, 522, 863, 280, 626, 232, 519, 313,
       917, 157,  97, 459, 704, 527,  29, 420, 411, 328, 815])

In [ ]:
# (array([22093, 31192, 29739, ...,   501,  5468, 12591]),
#  array([  8,   8,   8, ..., 158, 158, 158]))