## Coalesce

In [1]:
import pandas as pd
import numpy as np
import janitor

In [2]:
df = pd.DataFrame({"A": [1, 2, np.nan],
                   "B": [np.nan, 10, np.nan],
                   "C": [5, 10, 7]})

df

     A     B   C
0  1.0   NaN   5
1  2.0  10.0  10
2  NaN   NaN   7

In [3]:
df.coalesce('A', 'B', 'C',
            target_column_name = 'D')

     A     B   C    D
0  1.0   NaN   5  1.0
1  2.0  10.0  10  2.0
2  NaN   NaN   7  7.0

If no target column is provided, then the first column is updated, with the null values removed:

In [4]:
df.coalesce('A', 'B', 'C')

     A     B   C
0  1.0   NaN   5
1  2.0  10.0  10
2  7.0   NaN   7

If nulls remain, it can be filled with the `default_value`:

In [5]:
df = pd.DataFrame({'s1':[np.nan,np.nan,6,9,9],
                   's2':[np.nan,8,7,9,9]})


df

    s1   s2
0  NaN  NaN
1  NaN  8.0
2  6.0  7.0
3  9.0  9.0
4  9.0  9.0

In [6]:
df.coalesce('s1', 's2',
            target_column_name = 's3',
            default_value = 0)

    s1   s2   s3
0  NaN  NaN  0.0
1  NaN  8.0  8.0
2  6.0  7.0  6.0
3  9.0  9.0  9.0
4  9.0  9.0  9.0