## Fill on a Single Column

In [1]:
import pandas as pd
import janitor
from numpy import nan

In [2]:
df = pd.DataFrame({'text': ['ragnar', nan, 'sammywemmy', nan, 'ginger'],
 'code': [nan, 2.0, 3.0, nan, 5.0]}
)

df

         text  code
0      ragnar   NaN
1         NaN   2.0
2  sammywemmy   3.0
3         NaN   NaN
4      ginger   5.0

- Fill on a single column:

In [3]:
df.fill_direction(code = 'up')

         text  code
0      ragnar   2.0
1         NaN   2.0
2  sammywemmy   3.0
3         NaN   5.0
4      ginger   5.0

- Fill on multiple columns:

In [4]:
df.fill_direction(text = 'down', code = 'down')

         text  code
0      ragnar   NaN
1      ragnar   2.0
2  sammywemmy   3.0
3  sammywemmy   3.0
4      ginger   5.0

- Fill multiple columns in different directions:

In [5]:
df.fill_direction(text = 'up', code = 'down')

         text  code
0      ragnar   NaN
1  sammywemmy   2.0
2  sammywemmy   3.0
3      ginger   3.0
4      ginger   5.0