# row_to_names : Elevates a row to be the column names of a DataFrame.

## Background

This notebook serves to show a brief and simple example of how to swap column names using one of the rows in the dataframe.

In [1]:
import pandas as pd
import janitor
from io import StringIO

In [2]:
df = pd.DataFrame({
   "a": ["nums", '6', '9'],
    "b": ["chars", "x", "y"],
 })
df

      a      b
0  nums  chars
1     6      x
2     9      y

In [3]:
df.row_to_names(row_numbers=[1,2], remove_rows=True)

/Users/samuel.oranyeli/pyjanitor/janitor/functions/row_to_names.py:148: UserWarning: The function row_to_names will, in the official 1.0 release, change its behaviour to reset the dataframe's index by default. You can prepare for this change right now by explicitly setting `reset_index=True` when calling on `row_to_names`.
  warnings.warn(

      6      x
      9      y
0  nums  chars

In [4]:
dff = pd.concat([df]*1_000_000)

In [5]:
dff.row_to_names(row_numbers=[0,1], remove_rows=True)

/Users/samuel.oranyeli/pyjanitor/janitor/functions/row_to_names.py:148: UserWarning: The function row_to_names will, in the official 1.0 release, change its behaviour to reset the dataframe's index by default. You can prepare for this change right now by explicitly setting `reset_index=True` when calling on `row_to_names`.
  warnings.warn(

    nums  chars
       6      x
2      9      y
0   nums  chars
1      6      x
2      9      y
0   nums  chars
..   ...    ...
1      6      x
2      9      y
0   nums  chars
1      6      x
2      9      y

[2999998 rows x 2 columns]

In [6]:
%timeit dff.row_to_names(row_numbers=0, remove_rows_above=True, remove_rows=True, reset_index=True)

20.8 ms ± 31.9 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
%timeit dff.row_to_names(row_numbers=0, remove_rows=True)

/Users/samuel.oranyeli/pyjanitor/janitor/functions/row_to_names.py:148: UserWarning: The function row_to_names will, in the official 1.0 release, change its behaviour to reset the dataframe's index by default. You can prepare for this change right now by explicitly setting `reset_index=True` when calling on `row_to_names`.
  warnings.warn(

37.3 ms ± 310 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [9]:
%timeit dff.row_to_names(row_numbers=[0,1], remove_rows=True, reset_index=True)

195 ms ± 635 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)