In [1]:
import pandas as pd
import numpy as np 
import janitor 
from io import StringIO

In [2]:
data = """  A      B     C      D          E
    0  0   -1.0    r    False   1970-01-01
    1  0    1.0    r    False   1970-01-01"""

df = pd.read_csv(StringIO(data), sep='\s{2,}', engine='python', parse_dates=['E'])

In [3]:
data = """Integers  Numeric  Floats   Strings  Booleans      Dates   Dates_Right
    0         0      0.0     0.0      r         False    1970-01-01    1970-01-01 """

right = pd.read_csv(StringIO(data), sep='\s{2,}', engine='python', parse_dates=['Dates', 'Dates_Right'])

In [4]:
df

   A    B  C      D          E
0  0 -1.0  r  False 1970-01-01
1  0  1.0  r  False 1970-01-01

In [5]:
right

   Integers  Numeric  Floats Strings  Booleans      Dates Dates_Right
0         0      0.0     0.0       r     False 1970-01-01  1970-01-01

In [6]:
right.Dates.sort_values()

0   1970-01-01
Name: Dates, dtype: datetime64[ns]

In [7]:
dict(zip(right.Dates, right.index))

{Timestamp('1970-01-01 00:00:00'): 0}

In [10]:
first, second, third = ("Numeric", "Floats", "B")

actual = right.conditional_join(
        df,
        (first, third, ">"),
        (second, third, "<"),
        how="inner",
        sort_by_appearance=True
    )
actual 

# actual = actual.droplevel(level=0, axis=1)
# actual = actual.filter([first, second, third])

ValueError: The column label 'B' is not unique.

In [13]:
first, second, third = ("Numeric", "Floats", "B")


expected = (
        right.assign(t=1)
        .merge(df.assign(t=1), on="t")
        #.query(f"{first} > {third} and {second} < {third}")
       # .reset_index(drop=True)
    )


# expected = expected.filter([first, second, third])
expected

,Integers,Numeric,Floats,Strings,Booleans,Dates,Dates_Right,t,A,B,C,D,E
0,0,0.0,0.0,r,False,1970-01-01,1970-01-01,1,0,-1.0,r,False,1970-01-01
1,0,0.0,0.0,r,False,1970-01-01,1970-01-01,1,0,1.0,r,False,1970-01-01