# Example From TidyTuesday 2019-04-30

The following example was obtained by translating the R code from [TidyTuesday 2019-04-30](https://github.com/rfordatascience/tidytuesday/tree/47567cb80846739c8543d158c1f3ff226c7e5a5f/data/2019/2019-04-30)
to Python using Pandas and PyJanitor

In [1]:
import pandas as pd
import janitor

## Get Raw Data

In [2]:
raw_birds = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-04-30/raw/Chicago_collision_data.csv")
raw_call = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-04-30/raw/bird_call.csv", sep=" ")
raw_light = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-04-30/raw/Light_levels_dryad.csv")

## Original DataFrames

In [3]:
raw_birds.head()

        Genus  Species        Date Locality
0  Ammodramus  nelsoni  1982-10-03       MP
1  Ammodramus  nelsoni  1984-05-21      CHI
2  Ammodramus  nelsoni  1984-05-25       MP
3  Ammodramus  nelsoni  1985-10-08       MP
4  Ammodramus  nelsoni  1986-09-10       MP

In [4]:
raw_call.head()

       Species       Family     Collisions  Flight Call Habitat Stratum
0  Zonotrichia   albicollis  Passerellidae   10133  Yes  Forest   Lower
1        Junco     hyemalis  Passerellidae    6303  Yes    Edge   Lower
2    Melospiza      melodia  Passerellidae    5124  Yes    Edge   Lower
3    Melospiza    georgiana  Passerellidae    4910  Yes    Open   Lower
4      Seiurus  aurocapilla      Parulidae    4580  Yes  Forest   Lower

In [5]:
raw_light.head()

         Date  Light_Score
0  2000-03-06            3
1  2000-03-08           15
2  2000-03-10            3
3  2000-03-31            3
4  2000-04-02           17

## Clean Data

In [6]:
clean_call = (
    raw_call
    .rename_column("Species", "Genus")
    .rename_column("Family", "Species")
)
clean_birds = (
    raw_birds
    .merge(clean_call, how='left')
    .select_columns(["Genus", "Species", "Date", "Locality", "Collisions", "Call", "Habitat", "Stratum"])
    .clean_names()
    .rename_column("collisions", "family")
    .rename_column("call", "flight_call")
    .dropna()
)
clean_light = raw_light.clean_names()

## Resulting DataFrames

In [7]:
clean_birds.head()

,genus,species,date,locality,family,flight_call,habitat,stratum
89,Passerculus,sandwichensis,1978-10-27,MP,Passerellidae,Yes,Open,Lower\t
90,Passerculus,sandwichensis,1979-10-23,MP,Passerellidae,Yes,Open,Lower\t
91,Passerculus,sandwichensis,1980-04-19,MP,Passerellidae,Yes,Open,Lower\t
92,Passerculus,sandwichensis,1981-09-23,MP,Passerellidae,Yes,Open,Lower\t
93,Passerculus,sandwichensis,1982-05-20,MP,Passerellidae,Yes,Open,Lower\t

In [8]:
clean_call.head()

         Genus      Species     Collisions  Flight Call Habitat Stratum
0  Zonotrichia   albicollis  Passerellidae   10133  Yes  Forest   Lower
1        Junco     hyemalis  Passerellidae    6303  Yes    Edge   Lower
2    Melospiza      melodia  Passerellidae    5124  Yes    Edge   Lower
3    Melospiza    georgiana  Passerellidae    4910  Yes    Open   Lower
4      Seiurus  aurocapilla      Parulidae    4580  Yes  Forest   Lower

In [9]:
clean_light.head()

         date  light_score
0  2000-03-06            3
1  2000-03-08           15
2  2000-03-10            3
3  2000-03-31            3
4  2000-04-02           17